svg[data-v-329c00c4]{display:inline-block;vertical-align:baseline;margin-bottom:-2px;-webkit-transition:background-color .1s ease-in-out;transition:background-color .1s ease-in-out;border-radius:.25em}svg path[data-v-329c00c4]{fill:inherit}svg.small[data-v-329c00c4]{margin-bottom:0}svg.clickable[data-v-329c00c4]:hover{background-color:hsla(0,0%,100%,.1)}svg.light g[data-v-329c00c4]{opacity:.6}









































































































































































































































































































































































































































































































































































































































/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}.mdc-elevation--z0{-webkit-box-shadow:0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);box-shadow:0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12)}.mdc-elevation--z1{-webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)}.mdc-elevation--z2{-webkit-box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}.mdc-elevation--z3{-webkit-box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)}.mdc-elevation--z4{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)}.mdc-elevation--z5{-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)}.mdc-elevation--z6{-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)}.mdc-elevation--z7{-webkit-box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)}.mdc-elevation--z8{-webkit-box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}.mdc-elevation--z9{-webkit-box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12)}.mdc-elevation--z10{-webkit-box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)}.mdc-elevation--z11{-webkit-box-shadow:0 6px 7px -4px rgba(0,0,0,.2),0 11px 15px 1px rgba(0,0,0,.14),0 4px 20px 3px rgba(0,0,0,.12);box-shadow:0 6px 7px -4px rgba(0,0,0,.2),0 11px 15px 1px rgba(0,0,0,.14),0 4px 20px 3px rgba(0,0,0,.12)}.mdc-elevation--z12{-webkit-box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)}.mdc-elevation--z13{-webkit-box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12)}.mdc-elevation--z14{-webkit-box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12);box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12)}.mdc-elevation--z15{-webkit-box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12);box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12)}.mdc-elevation--z16{-webkit-box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)}.mdc-elevation--z17{-webkit-box-shadow:0 8px 11px -5px rgba(0,0,0,.2),0 17px 26px 2px rgba(0,0,0,.14),0 6px 32px 5px rgba(0,0,0,.12);box-shadow:0 8px 11px -5px rgba(0,0,0,.2),0 17px 26px 2px rgba(0,0,0,.14),0 6px 32px 5px rgba(0,0,0,.12)}.mdc-elevation--z18{-webkit-box-shadow:0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12);box-shadow:0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12)}.mdc-elevation--z19{-webkit-box-shadow:0 9px 12px -6px rgba(0,0,0,.2),0 19px 29px 2px rgba(0,0,0,.14),0 7px 36px 6px rgba(0,0,0,.12);box-shadow:0 9px 12px -6px rgba(0,0,0,.2),0 19px 29px 2px rgba(0,0,0,.14),0 7px 36px 6px rgba(0,0,0,.12)}.mdc-elevation--z20{-webkit-box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12);box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12)}.mdc-elevation--z21{-webkit-box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12);box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12)}.mdc-elevation--z22{-webkit-box-shadow:0 10px 14px -6px rgba(0,0,0,.2),0 22px 35px 3px rgba(0,0,0,.14),0 8px 42px 7px rgba(0,0,0,.12);box-shadow:0 10px 14px -6px rgba(0,0,0,.2),0 22px 35px 3px rgba(0,0,0,.14),0 8px 42px 7px rgba(0,0,0,.12)}.mdc-elevation--z23{-webkit-box-shadow:0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12);box-shadow:0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12)}.mdc-elevation--z24{-webkit-box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12)}.mdc-elevation-transition{-webkit-transition:-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);transition:-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);transition:box-shadow .28s cubic-bezier(.4,0,.2,1);transition:box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);will-change:box-shadow}.txt-black-darkest{color:#0e0e0e!important}.txt-black-dark{color:#1a1a1f!important}.txt-black{color:#1c1c20!important}.txt-black-light{color:#212126!important}.txt-white{color:#fff!important}.txt-white-light{color:hsla(0,0%,100%,.6)!important}.txt-white-lighter{color:hsla(0,0%,100%,.4)!important}.txt-red{color:#ff3f34!important}.txt-green{color:#36bd74!important}.txt-yellow{color:#f2c109!important}.bg-black-darkest{background-color:#0e0e0e!important}.bg-black-dark{background-color:#1a1a1f!important}.bg-black{background-color:#1c1c20!important}.bg-black-light{background-color:#212126!important}.bg-white{background-color:#fff!important}.bg-white-light{background-color:hsla(0,0%,100%,.6)!important}.bg-white-lighter{background-color:hsla(0,0%,100%,.4)!important}.bg-red{background-color:#ff3f34!important}.bg-green{background-color:#36bd74!important}.bg-yellow{background-color:#f2c109!important}*{font-family:Roboto Condensed;line-height:1.1em}h1,h2,h3,h4,h5,h6{padding:0;margin:0;font-weight:400}.p-normal{padding:1em}html{background-color:#1c1c20;-webkit-box-sizing:border-box;box-sizing:border-box}*{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}button,input{-webkit-appearance:none;border-style:none}button:focus,input:focus{outline:none}#app{height:100vh;width:100%}.view{height:100%;color:#fff}.app-bar,.app-bar-row{width:100%;display:grid;grid-template-columns:1fr auto 1fr;background-color:#1a1a1f;height:3.5em;z-index:4;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:0;flex-shrink:0}.app-bar-row__left,.app-bar-row__right,.app-bar__left,.app-bar__right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;opacity:.6}.app-bar-row__left,.app-bar__left{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}.app-bar-row__left *,.app-bar__left *{margin-right:1.5em}.app-bar-row__left :last-child,.app-bar__left :last-child{margin-right:0}.app-bar-row__right,.app-bar__right{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.app-bar-row__right *,.app-bar__right *{margin-left:1em}.app-bar-row__right :last-child,.app-bar__right :last-child{margin-left:0}.app-bar-row__title,.app-bar__title{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.app-bar-row__title h2,.app-bar__title h2{font-size:1.25rem;text-align:center}.app-bar,.app-bar-row{padding:1em}.app-bar{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)}.customize,.game-edit-content,.game-rounds,.game-stats-contain,.games,.list,.player-content,.players,.round-inputs,.settings-content{overflow-y:auto;overflow-x:hidden}.list-subtitle{height:3em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:.75rem;color:hsla(0,0%,100%,.6)}.customize-row,.game-entry,.game-stats-item,.list-entry,.player-entry,.settings-entry{width:100%;background-color:#212126;margin-bottom:.125em;padding:1em;-webkit-transition:background-color .1s ease-in-out;transition:background-color .1s ease-in-out}.customize-row:hover,.game-entry:hover,.game-stats-item:hover,.list-entry:hover,.player-entry:hover,.settings-entry:hover{background-color:#202026}.list-entry--compact{padding:0 1em}.list-entry--no-padding{padding:0}.list-entry--no-margin{margin:0}.list-entry--transparent{background-color:transparent}.customize-row,.list-entry--action{display:grid;grid-template-columns:1fr 2.5rem}.list-entry-icon{display:-webkit-box;display:-ms-flexbox;display:flex}.list-row-slider{position:relative}.list-row-slider__options{z-index:0;position:absolute;left:0;top:0;width:100%;height:100%;display:grid;grid-template-columns:1fr 1fr}.list-row-slider__options .slide-delete,.list-row-slider__options .slide-edit{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 1em;opacity:.6;-webkit-transition:opacity .3s linear;transition:opacity .3s linear}.list-row-slider__options .slide-delete.active,.list-row-slider__options .slide-edit.active{opacity:1}.list-row-slider__options .slide-delete{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;background-color:#ff3f34}.list-row-slider__options .slide-edit{background-color:#f2c109;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.list-row-slider__content{background-color:transparent;z-index:1;position:relative;left:0;top:0;display:grid;height:100%;width:100%;-webkit-transition:left .1s ease-in;transition:left .1s ease-in}.list-row-slider__content.is-moving{-webkit-transition:none;transition:none}.list-entry-empty{height:5rem;width:100%;margin-top:5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.list-entry-empty__content{text-align:center}.list-entry-empty__content>div:first-child{font-size:2rem;color:hsla(0,0%,100%,.6);padding-bottom:1rem}.list-entry-empty__content>div:last-child{font-size:1rem;color:hsla(0,0%,100%,.4);text-transform:uppercase;letter-spacing:.01em}.tfab,.tfab-extended{-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);z-index:6;padding:0;height:3em;min-width:3em;border-radius:1.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tfab-extended:hover,.tfab:hover{opacity:.9}.tfab-extended:focus svg,.tfab-extended svg:hover,.tfab:focus svg,.tfab svg:hover{background-color:transparent}.tfab{max-width:3em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.tfab-extended{padding:0 1.25em;font-size:.938rem;text-transform:uppercase}.tfab-extended.has-icon{padding:0 1.25em 0 .75em}.tbutton{background-color:transparent;-webkit-transition:background-color .1s ease-in-out;transition:background-color .1s ease-in-out;padding:.5em;height:2.25em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;min-width:4em;font-size:.938rem;color:hsla(0,0%,100%,.6);text-transform:uppercase}.tbutton:hover{color:#fff;background-color:hsla(0,0%,100%,.1)}.tichu-scores{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.tichu-scores-row{display:grid}.tichu-scores-row--players,.tichu-scores-row--teams{min-height:2.75rem}.tichu-scores-row--scores{line-height:1.4em}.tichu-scores--count2 .tichu-scores-row{grid-template-columns:repeat(2,1fr)}.tichu-scores--count3 .tichu-scores-row{grid-template-columns:repeat(3,1fr)}.tichu-scores--count4 .tichu-scores-row{grid-template-columns:repeat(4,1fr)}.tichu-scores--count5 .tichu-scores-row{grid-template-columns:repeat(5,1fr)}.tichu-scores--count6 .tichu-scores-row{grid-template-columns:repeat(6,1fr)}.tichu-scores--count7 .tichu-scores-row{grid-template-columns:repeat(7,1fr)}.tichu-scores--count8 .tichu-scores-row{grid-template-columns:repeat(8,1fr)}.tichu-scores-score,.tichu-scores-team{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tichu-scores-team>span{text-align:center;font-size:1rem;color:hsla(0,0%,100%,.6)}.tichu-scores-score>span{text-align:center;font-size:2rem;font-family:Roboto Slab}.tichu-scores-players{display:block;width:100%;height:2.75rem;overflow:hidden}.tichu-scores-players__content{height:100%;-webkit-transition:-webkit-transform .2s ease-in-out;transition:-webkit-transform .2s ease-in-out;transition:transform .2s ease-in-out;transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out}.tichu-scores-players-line{width:100%;height:2.75rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tichu-scores-players-line>span{font-size:1rem;color:hsla(0,0%,100%,.6)}.tichu-round{height:3em;background-color:#212126;display:grid;width:100%}.tichu-round.is-moving{-webkit-transition:none;transition:none}.tichu-round:hover{background-color:#202026}.tichu-round--count2{grid-template-columns:1fr 1em 1fr}.tichu-round__number{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:.75rem;color:hsla(0,0%,100%,.6)}.tichu-round-score{display:grid;grid-template-columns:1fr auto 1fr}.tichu-round-score__flags,.tichu-round-score__score{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-size:1.25rem}.tichu-round-score__flags>span,.tichu-round-score__score>span{font-size:1.25rem;padding:.25em}.tichu-round-score__score{font-family:Roboto Slab}.tinput-tichu,.tinput-win{display:grid;grid-template-columns:1fr 1fr}.tinput-tichu:first-child,.tinput-win:first-child{direction:rtl}.tinput-tichu__element,.tinput-win__element{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;color:hsla(0,0%,100%,.4)}.tinput-chip-field,.tinput-emoji-field,.tinput-number,.tinput-select,.tinput-text{width:100%;min-height:3rem;border-bottom:.075em solid hsla(0,0%,100%,.6);background-color:#212126;text-align:center;color:hsla(0,0%,100%,.6)}.tinput-chip-field ::-webkit-input-placeholder,.tinput-emoji-field ::-webkit-input-placeholder,.tinput-number ::-webkit-input-placeholder,.tinput-select ::-webkit-input-placeholder,.tinput-text ::-webkit-input-placeholder{color:hsla(0,0%,100%,.4)}.tinput-chip-field ::-ms-input-placeholder,.tinput-emoji-field ::-ms-input-placeholder,.tinput-number ::-ms-input-placeholder,.tinput-select ::-ms-input-placeholder,.tinput-text ::-ms-input-placeholder{color:hsla(0,0%,100%,.4)}.tinput-chip-field ::placeholder,.tinput-emoji-field ::placeholder,.tinput-number ::placeholder,.tinput-select ::placeholder,.tinput-text ::placeholder{color:hsla(0,0%,100%,.4)}.tinput-chip-field:focus,.tinput-chip-field:hover,.tinput-emoji-field:focus,.tinput-emoji-field:hover,.tinput-number:focus,.tinput-number:hover,.tinput-select:focus,.tinput-select:hover,.tinput-text:focus,.tinput-text:hover{border-bottom-color:#fff;color:#fff}.tinput-radio-item input[type=radio]{width:1.25em;height:1.25em;position:relative}.tinput-chip-select,.tinput-emoji-select{z-index:8;max-height:9em;overflow:hidden;background-color:#212126}.tinput-chip-select,.tinput-chip-select__content,.tinput-emoji-select,.tinput-emoji-select__content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.tinput-chip-select__content,.tinput-emoji-select__content{margin:.5em 0;overflow-y:scroll}.tinput-chip-select-item{padding:0 1em;min-height:3rem;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tinput,.tinput-chip-select-item{display:-webkit-box;display:-ms-flexbox;display:flex}.tinput{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%;padding:1em;border-bottom:.075em solid #212126}.tinput__title{font-size:.938rem;color:hsla(0,0%,100%,.6);text-transform:uppercase;text-align:center}.tinput__content{min-height:3em;padding-top:1em}.tinput__content--col2{display:grid;grid-column-gap:1em;grid-template-columns:1fr 1fr}.tinput__content--rows{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.tinput__content--rows>*{margin-top:1em}.tinput__content--rows>:first-child{margin-top:0}.tinput-slider{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:transparent;width:100%;padding-top:.2em}.tinput-slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;border-radius:50%;background-color:#fff;width:.75em;height:.75em;margin-top:-.3em}.tinput-slider:focus{outline:none}.tinput-slider::-webkit-slider-runnable-track{background-color:hsla(0,0%,100%,.4);margin:.375em 0;height:.125em}.tinput-top{display:grid;grid-template-columns:1fr 1fr 1fr}.tinput-top__left,.tinput-top__right{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.tinput-win__element.active{color:#f2c109}.tinput-tichu{display:grid;grid-template-columns:1fr 1fr}.tinput-tichu__element.active-red{color:#ff3f34}.tinput-tichu__element.active-green{color:#36bd74}.tinput-number{font-family:Roboto Slab;font-size:1.5rem;-moz-appearance:textfield}.tinput-text{font-size:1rem}.tinput-text::-webkit-input-placeholder{font-weight:400}.tinput-text::-ms-input-placeholder{font-weight:400}.tinput-text::placeholder{font-weight:400}.tinput-select{padding:1em}.tinput-chip{padding:0 .75em;height:2em;border-radius:1em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.tinput-chip--input{padding-right:0}.tinput-chip--emoji{padding-left:.5em;color:#fff}.tinput-chip__icon{margin:0 .5em}.tinput-chip__emoji{margin-right:.5em}.tinput-chip__title{color:#212126;font-size:.875rem}.tinput-chip-field{padding:.5em .5em 0 .5em;min-height:3rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}.tinput-chip-field .tinput-chip{margin:0 .5em .5em 0}.tinput-chip-field__input{color:#fff;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;height:2em;text-align:left;background-color:transparent;margin-bottom:.5em}.tinput-chip-field__input.full-width{width:100%;text-align:center}.tinput-chip-select-item__icon{padding-right:.5rem;min-width:2rem}.tinput-chip-select-item span{color:hsla(0,0%,100%,.6)}.tinput-radio{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.tinput-radio,.tinput-radio-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}.tinput-radio-item{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:1em;padding:0 3em;position:relative}.tinput-radio-item input[type=radio]{width:1.5em;height:1.5em;margin-right:1em}.tinput-radio-item input[type=radio]:checked+label{color:#fff}.tinput-radio-item label{color:hsla(0,0%,100%,.6)}.tinput-radio-item__icon{position:absolute}.tinput-emoji-field{color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.tinput-emoji-select__content{display:grid;grid-template-columns:repeat(6,1fr)}.tinput-emoji-select-item{margin-bottom:.5em;padding:.25em 0;border-radius:.125em}.tinput-emoji-select-item.active{color:#fff;background-color:hsla(0,0%,100%,.4)}.tinput-call-player .no-selected{-webkit-filter:grayscale(100);filter:grayscale(100)}.v--modal{-webkit-box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);background-color:#1a1a1f}.v--modal-overlay{background-color:rgba(0,0,0,.8)}.tdialog{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background-color:#1a1a1f}.tdialog,.tdialog__header{display:-webkit-box;display:-ms-flexbox;display:flex}.tdialog__header{color:hsla(0,0%,100%,.6);height:4em;padding:0 1.5em;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-negative:0;flex-shrink:0}.tdialog__header span{font-size:1.25rem}.tdialog__content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:.5em 1.5em;text-align:center;color:hsla(0,0%,100%,.6)}.tdialog__content.no-title{padding-top:1.5em}.tdialog__actions{-ms-flex-negative:0;flex-shrink:0;height:3.25em;padding:.5em .5em .5em 1.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.tdialog-content-item{width:100%;margin:0 0 1em 0;padding:0;color:hsla(0,0%,100%,.6)}.tdialog-content-item:last-child{margin-bottom:0}.tdialog-select-player-option{display:grid;grid-template-columns:3rem auto;height:3rem}.tdialog-select-player-option.selected{background-color:hsla(0,0%,100%,.1)}.tdialog-select-player-option>div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.tdialog-select-player-option>div:nth-child(2){-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.score-chart{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}.score-chart,.score-chart-controls{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-direction:normal}.score-chart-controls{padding:.75em 0 0 0;-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.score-chart-controls .tinput-chip{margin:0 .375em;background-color:rgba(242,193,9,.6)}.score-chart-controls .tinput-chip.active{background-color:#f2c109}.tour{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%;width:100%;position:fixed;top:0;left:0;z-index:50;background-color:rgba(0,0,0,.9)}.tour-content{max-width:calc(100% - 4rem);max-height:calc(100% - 4rem);background-color:#1a1a1f}.tour-content,.tour-view{width:100%;min-height:10rem}.tour-view{max-height:calc(100% - 3rem);overflow-y:auto;padding:1.5em 1em 0 1em;color:hsla(0,0%,100%,.6);text-align:center}.tour-view h3,.tour-view strong{color:#fff}.tour-view p{font-size:.875rem;margin:.75em 0}.tour-view-img{padding:0 0 1em 0}.tour-view-inline-img>img{width:100%}.tour-controls{width:100%;height:3rem;padding:0 1em;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around}.tour-controls-btn{font-size:.938rem;color:#fff;text-transform:uppercase;background-color:transparent}.home,.home__content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.home__content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;width:100%}.home-tabs{display:grid;grid-template-columns:1fr 1fr 1fr;height:3em;width:100%}.home-tab{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 1em;color:hsla(0,0%,100%,.6);text-transform:uppercase;-webkit-transition:color .1s ease-in-out;transition:color .1s ease-in-out}.home-tab.active{color:#fff}.app-bar-home{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);background-color:#1a1a1f;width:100%;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:0;flex-shrink:0}.app-bar-home__top{height:5rem}.home-header{position:relative}.home-header__logo{position:absolute;width:8rem;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.games{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;padding-bottom:5em}.games-fab{position:fixed;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%);bottom:1em}.game-entry{margin-bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background-color:#212126}.game-entry-row{display:grid}.game-entry-row--count2{grid-template-columns:repeat(2,1fr)}.game-entry-row--count3{grid-template-columns:repeat(3,1fr)}.game-entry-row--count4{grid-template-columns:repeat(4,1fr)}.game-entry-row--count5{grid-template-columns:repeat(5,1fr)}.game-entry-row--count6{grid-template-columns:repeat(6,1fr)}.game-entry-row--count7{grid-template-columns:repeat(7,1fr)}.game-entry-row--count8{grid-template-columns:repeat(8,1fr)}.game-entry-score-players,.game-entry-score-team{min-height:1.5em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-align:center;font-size:.875rem;color:hsla(0,0%,100%,.6)}.game-entry-score-team{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.game-entry-score-players{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.game-entry-score-score{height:2.25em;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-family:Roboto Slab;font-size:1.5rem}.players{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;padding-bottom:5em}.players .players-fab{position:fixed;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%);bottom:1em}.player-entry{margin-bottom:0}.player-entry__content{display:grid;grid-template-columns:3rem auto}.player{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.player-content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.player-list-entry{text-align:center}.player-stats{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.player-stats-row{display:grid}.player-stats-row--double{grid-template-columns:1fr 1fr}.player-stats-row--triple{grid-template-columns:1fr 1fr 1fr}.player-stats-entry{display:grid;grid-template-rows:2rem 2.75rem}.player-stats-entry>div{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.player-stats-entry>div:first-child{font-size:1rem;color:hsla(0,0%,100%,.4);-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.player-stats-entry>div:nth-child(2){font-family:Roboto Slab;font-size:1.5rem;color:#fff}.game-edit{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.game-edit-content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.game-stats{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.game-stats-contain{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.game-stats-subheader{text-transform:uppercase;font-size:.938rem;color:hsla(0,0%,100%,.6)}.game-score-chart{background-color:#212126;padding:1em}.game-stats-numbers{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.game-stats-numbers-line{display:grid}.game-stats-numbers-line--header{min-height:2rem}.game-stats-numbers-line--header .game-stats-numbers-line__entry{font-size:.75rem}.game-stats-numbers-line--line{min-height:3rem}.game-stats-numbers-line--line .game-stats-numbers-line__entry{border-top:.07rem solid hsla(0,0%,100%,.2);height:3rem;font-size:.875rem}.game-stats-numbers-line__entry{text-align:center;padding:1rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-left:.07rem solid hsla(0,0%,100%,.2);color:hsla(0,0%,100%,.6);font-family:Roboto Slab}.game-stats-numbers-line__entry:first-child{font-family:Roboto Condensed;border-left:none}.game-stats-numbers--count2 .game-stats-numbers-line{grid-template-columns:repeat(3,1fr)}.game-stats-numbers--count3 .game-stats-numbers-line{grid-template-columns:repeat(4,1fr)}.game-stats-numbers--count4 .game-stats-numbers-line{grid-template-columns:repeat(5,1fr)}.game-stats-numbers--count5 .game-stats-numbers-line{grid-template-columns:repeat(6,1fr)}.game-stats-numbers--count6 .game-stats-numbers-line{grid-template-columns:repeat(7,1fr)}.game-stats-numbers--count7 .game-stats-numbers-line{grid-template-columns:repeat(8,1fr)}.game-stats-numbers--count8 .game-stats-numbers-line{grid-template-columns:repeat(9,1fr)}.game,.game-app-bar{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.game-app-bar{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);z-index:4;background-color:#1a1a1f}.game-scores{padding:0 1em;display:grid}.game-scores--double{grid-template-columns:1fr 1em 1fr}.game-scores__spacer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:2rem;font-family:Roboto Slab;color:hsla(0,0%,100%,.6)}.game-rounds{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.game-fab{position:fixed;bottom:1em;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.game-score-info{background-color:rgba(0,0,0,.3);width:100%;height:2rem;overflow:hidden}.game-score-info__content{height:100%;-webkit-transition:-webkit-transform .2s ease-in-out;transition:-webkit-transform .2s ease-in-out;transition:transform .2s ease-in-out;transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out}.game-score-info-line{width:100%;height:2rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:hsla(0,0%,100%,.4);font-size:.875rem;text-transform:uppercase}.round,.round-app-bar{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.round-app-bar{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);z-index:4;background-color:#1a1a1f;-ms-flex-negative:0;flex-shrink:0}.round-scores{padding:0 1em;display:grid}.round-scores--double{grid-template-columns:1fr 1em 1fr}.round-scores__spacer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-size:2rem;font-family:Roboto Slab;color:hsla(0,0%,100%,.6)}.round-inputs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.settings{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.settings-content{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.settings-entry--text a,.settings-entry--text li,.settings-entry--text p{line-height:1.25em;font-size:.875rem;color:hsla(0,0%,100%,.6)}.settings-entry--text ul{padding-left:1em}.settings-entry--text a{color:#f2c109;text-decoration:none}.settings-option{display:grid;grid-template-columns:2.5rem auto}.settings-option__icon{-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.settings-option__content,.settings-option__icon{display:-webkit-box;display:-ms-flexbox;display:flex}.settings-option__content{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.settings-option__content-title{font-size:.938rem;color:#fff;padding-bottom:.25rem}.settings-option__content-text{display:-webkit-box;display:-ms-flexbox;display:flex;line-height:1.25rem;font-size:1rem;color:hsla(0,0%,100%,.6)}.customize{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}.customize-fab{position:fixed;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%);bottom:1em}.customize-lock{padding-right:.5em;-webkit-filter:grayscale(100%);filter:grayscale(100%)}.customize-row__content>div:nth-child(2){font-size:.75rem;color:hsla(0,0%,100%,.6);height:1.25rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}.customize-row__icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center}