%fab {
  @include mdc-elevation(6);
  z-index: 6;
  padding: 0;
  height: $rowHeightSmall;
  min-width: $rowHeightSmall;
  border-radius: 1.5em;
  display: flex;
  align-items: center;
  &:hover {
    opacity: 0.9;
  }
  svg:hover,
  &:focus svg {
    background-color: transparent;
  }
}

.tfab {
  @extend %fab;
  max-width: $rowHeightSmall;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tfab-extended {
  @extend %fab;
  padding: 0 $paddingNormalPlus;
  font-size: $fsButton;
  text-transform: uppercase;
  &.has-icon {
    padding: 0 $paddingNormalPlus 0 $paddingSmall;
  }
}

.tbutton {
  background-color: transparent;
  transition: background-color 100ms ease-in-out;
  padding: 0.5em;
  height: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4em;
  font-size: $fsButton;
  color: $whiteLight;
  text-transform: uppercase;
  &:hover {
    color: $white;
    background-color: rgba(255,255,255,0.1);
  }
}