.list {
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-subtitle {
  height: $rowHeightSmall;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fsSmall;
  color: $whiteLight;
}

.list-entry {
  width: 100%;
  background-color: $blackLight;
  margin-bottom: 0.125em;
  padding: $paddingNormal;
  transition: background-color 100ms ease-in-out;
  &:hover {
    background-color: $blackLightest;
  }
  &--compact {
    padding: 0 $paddingNormal;
  }
  &--no-padding {
    padding: 0;
  }
  &--transparent {
    background-color: transparent;
  }
}