.tichu-round {
  height: $rowHeightSmall;
  background-color: $blackLight;
  display: grid;
  width: 100%;
  &.is-moving {
    transition: none;
  }
  &:hover {
    background-color: $blackLightest;
  }
  &--count2 {
    grid-template-columns: 1fr $paddingNormal 1fr;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fsSmall;
    color: $whiteLight;
  }
}
.tichu-round-score {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  &__flags,
  &__score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $fsTitle;
    > span {
      font-size: $fsTitle;
      padding: 0.25em;
    }
  }
  &__score {
    font-family: $fontFamilySlab;
  }
}