.tichu-score {
  position: relative;
  display: flex;
  flex-direction: column;
  &__team,
  &__players,
  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__team,
  &__players {
    > span {
      text-align: center;
      font-size: $fsRegular;
      color: $whiteLight;
    }
    height: $rowHeightSmaller;
  }
  &__score {
    line-height: 1.4em;
    > span {
      font-size: $fsLarge;
      font-family: $fontFamilySlab;
    }
  }
  &__crown {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.7;
    transform: rotate(33deg);
  }
}