.games {
  @extend .list;
  flex-grow: 1;
  padding-bottom: 5em;
}

.games-fab {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: $paddingNormal;
}

.game-entry {
  @extend .list-entry;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: $blackLight;
}
.game-entry-row {
  display: grid;
  @for $i from 2 through 8 {
    &--count#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

.game-entry-score-team,
.game-entry-score-players {
  min-height: 1.5em;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $fsRegularSmall;
  color: $whiteLight;
}
.game-entry-score-team {
  align-items: flex-end;
}

.game-entry-score-players {
  align-items: flex-start;
}

.game-entry-score-score {
  height: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $fontFamilySlab;
  font-size: $fsMedium;
}