.players {
  @extend .list;
  flex-grow: 1;
  padding-bottom: 5em;
  .players-fab {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: $paddingNormal;
  }
}

.player-entry {
  @extend .list-entry;
  margin-bottom: 0;
  &__content {
    display: grid;
    grid-template-columns: 3rem auto;
  }
}