$rowHeight: 3.5em;
$rowHeightRem: 3.5rem;
$rowHeightSmall: 3em;
$rowHeightSmallRem: 3rem;
$rowHeightSmaller: 2.75em;
$rowHeightSmallerRem: 2.75rem;
$rowHeightTiny: 2em;
$rowHeightTinyRem: 2rem;

$paddingSmall: 0.75em;
$paddingNormal: 1em;
$paddingNormalPlus: 1.25em;
$paddingMedium: 1.5em;

.p-normal {
  padding: $paddingNormal;
}